.widgets--free-2 {
	padding-inline: var(--pd);
	padding-block: 2rem;
	display: flex;
	flex-direction: column;
	h1 {font-size: 3rem; font-weight: 300; margin-top: 3rem; margin-inline: auto; width: 70%; text-align: center;}
	h2 {font-weight: 400; margin-top: 3rem;}
	h3 {font-weight: 400; margin-top: 3rem;}
	.cntnt {
		position: relative;
		>.img {
			position: absolute;
			top: 0;
			right:0;
			height: 100%;
			width: calc(45% - 3rem);
			z-index: 2;
			img {
				position: relative;
				z-index:2;
				width: 100%;
				height: 100%;
				object-fit: cover;
				border-radius: var(--r3);
			}
		}
		>.cont {
			position: relative;
			z-index: 2;
			width: 55%;
			.l1 {
				display: flex;
				column-gap: 4rem;
				.items {
					width: calc(100% / 3 - 4rem * 2 / 3);
					display: flex;
					flex-direction: column;
					.img {
						width: 50%;
						aspect-ratio: 1 / 1;
						img {width: 100%}
					}
					.ttl {
						margin-top: 1rem;
						font-weight: 700;
						font-size: .8rem;
					}
					.dsc {
						font-weight: 400;
						font-size: .8rem;
					}
				}
			}
			.l2 {
				display: flex;
				column-gap: 1rem;
				.items {
					width: calc(100% / 4 - 1rem * 3 / 4);
					.num {
						font-size: 2.5rem;
						font-weight: 300;
					}
					.dsc {
						font-size: .8rem;
					}
				}
			}
		}
	}
	.flst {
		display: flex;
		flex-direction: column;
		h2 {
			font-size: 2rem;
			margin-left: auto;
			margin-right: auto;
		}
		.cont {
			position: relative;
			display: flex;
			padding-top: 2rem;
			padding-bottom: 2rem;
			.text {
				position: absolute;
				z-index: 1;
				top: 50%;
				transform: translate(-50%, -50%);
				left: 050%;
				text-align: center;
				font-size: 6.5vw;
				letter-spacing: 4vw;
				color: var(--g1);
			}
			.l3 {
				position: relative;
				z-index:2;
				display: flex;
				column-gap: 1rem;
				align-items: center;
				.items {
					width: calc(100% / 4 - 1rem * 3 / 4);
					font-weight: 600;
					font-size: 1.2rem;
					text-align: center;
				}
			}
		}
	}
	@media (max-width: 767px) {
		h1 {
			width: 100%;
			line-height: 120%;
			font-size: 1.8rem;
			margin-top: 1rem;
		}
		.cntnt {
			z-index: 2;
			>.img {
				width: 100%;
				position: relative;
				height: auto;
				aspect-ratio: 1 / 1;
				padding-bottom: 2rem;
			}
			.cont {
				width: 100%;
				padding-bottom: 2rem;
				>.l1 {
					gap: 1rem;
					.items {
						width: calc(100% / 3 - 1rem * 2 / 3);
					}
				}
				>.l2 {
					gap: 1rem;
					flex-wrap: wrap;
					.items {
						width: calc(100% / 2 - 1rem * 1 / 2);
					}
				}
			}
		}
		.flst {
			h2 {
				line-height: 120%;
				font-size: 1.8rem;
				margin-top: 1rem;
			}
			.cont {
				.text {
					display: none;
				}
				.l3 {
					flex-wrap: wrap;
					row-gap: 2rem;
					justify-content: flex-start;
					align-items: flex-start;
					.items {
						width: 100%;
						text-align: left;						
					}
				}
			}
		}
	}
}
