.services-ext {
	padding-top: 4rem;
	@media (max-width: 1199px) {padding-top: 2rem;}
	@media (max-width: 991px) {padding-top: 0;}
	>.title {
		margin:0 auto;
		width: 80%;
		text-transform: uppercase;
		text-align: center;
		font-size: 1.7rem;
		font-weight: 700;
		line-height: 160%;
		color: var(--g5);
		letter-spacing:0.1rem;
		font-family: var(--font-header);
		@media (max-width: 991px) {
			width: 100%;
		}
	}
	>.text {
		margin:0 auto;
		width: 80%;
		text-align: center;
		font-size: 1rem;
		line-height: 110%;
		font-weight: 400;
		color: var(--g3);
	}
	.cont {
		margin-top: 2rem;
		display: flex;
		flex-wrap: wrap;
		gap: 2rem;
		>.item {
			width: calc(100% / 3 - 2rem * 2 / 3);
			border-top-left-radius: 1.5rem;
			border-top-right-radius: 1.5rem;
			border-bottom: var(--px) solid var(--c1);
			display: flex;
			flex-direction: column;
			transition: all .2s linear;
			>a {
				aspect-ratio: 1 / 1;
				overflow: hidden;
				position: relative;
				border-top-left-radius: 1.5rem;
				border-top-right-radius: 1.5rem;
				padding: 2rem;
				display: flex;
				align-items: flex-end;
				text-decoration: none;
				>.bg {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					z-index: 1;
					&:before {
						content: "";
						position: absolute;
						z-index: 3;
						width: 100%;
						height: 100%;
						top: 0;
						left: 0;
						background: var(--gr2);
						opacity: .5;
						transition: all .2s linear;
					}
					&:after {
						content: "";
						position: absolute;
						z-index: 3;
						width: 100%;
						height: 100%;
						top: 0;
						left: 0;
						background: var(--gr1);
						opacity: 0;
						transition: all .2s linear;
					}
					>img {
						position: relative;
						z-index: 2;
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
				}
				>.ttl {
					position: relative;
					z-index: 2;
					color: var(--bg);
					font-size: 1.7rem;
					font-family: var(--font-header);
					transition: all .2s linear;
				}
			}
			>div {
				padding: 2rem;
				flex-grow: 1;
				font-size: .75rem;
				ul {
					list-style: none;
					padding:0;
					margin:0;
					display: flex;
					flex-direction: column;
					gap: .8rem;
					li {
						margin:0;
						padding:0 0 0 1.3rem;
						font-size: .75rem;
						position: relative;
						color: var(--g4);
						a {
							text-decoration: none;
							color: var(--c1);
							&:hover {
								text-decoration: underline;
							}
						}
						&:before {
							content: "";
							position: absolute;
							top: .5rem;
							left: 0;
							width: .7rem;
							height: var(--px);
							z-index: 1;
							background-color: var(--c1);
						}
					}
				}
			}
			&:hover {
				box-shadow: 0 0 1rem .1rem rgba(0,0,0,.1);
				>a {
					.bg:before {opacity: 0;}
					.bg:after {opacity: .5;}
					.ttl {transform: translate(0, -.5rem); color: var(--bg);}
				}
			}
			@media (max-width:991px) {
				>a {
					>.ttl {
						font-size: 1.3rem;
					}
				}
			}
			@media (max-width:767px) {
				width: 100%;
				>a {
					>.ttl {
						font-size: 1.3rem;
					}
				}
			}
		}
	}
}